<!-- home.html -->
<div class="home">
  <section id="services" class="my-5">
    <div class="container">
      <div class="text-center mb-5">  
        <h2 class="text-center">Professional Services</h2>
        <p class="lead mb-1 mb-md-3">Proin iaculis purus consequat sem cure</p>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 text-center">
          <img class="mb-3 mb-md-5" src="../assets/images/heart.png" alt="">
          <h3 class="h5">Beautiful designs</h3>
          <p>
            Proin iaculis purus consequat sem cure digni. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
          </p>
        </div>
        <div class="col-12 col-md-4 text-center">
          <img class="mb-3 mb-md-5" src="../assets/images/responsive.png" alt="">
          <h3 class="h5">Responsive Web</h3>
          <p>
            Proin iaculis purus consequat sem cure digni. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
          </p>
        </div>
        <div class="col-12 col-md-4 text-center">
          <img class="mb-3 mb-md-5" src="../assets/images/chart.png" alt="">
          <h3 class="h5">Marketing Tools</h3>
          <p>
            Proin iaculis purus consequat sem cure digni. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div id="lifting" class="row justify-content-end">
      <div id="lifting-inner" class="col-12 col-md-8 p-5">
        <h2 class="text-white mb-5">Just relax <span class="primary-color">& </span><br>let us do the heavy lifting</h2>
        <p class="mb-1 mb-md-3">
          Proin iaculis purus consequat sem cure digni. Donec porttitora entum suscipit aenean rhoncus posuere odio intincidunt.
        </p>
        <ul>
          <li>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle-thin fa-stack-2x" aria-hidden="true"></i>
              <i class="fa fa-check fa-stack-1x primary-color" aria-hidden="true"></i>
            </span>
            <span>
              Initial Setup & Customization
            </span>
          </li>
          <li>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle-thin fa-stack-2x" aria-hidden="true"></i>
              <i class="fa fa-check fa-stack-1x primary-color" aria-hidden="true"></i>
            </span>
            <span>
              Regular Updates
            </span>
          </li>
          <li>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle-thin fa-stack-2x" aria-hidden="true"></i>
              <i class="fa fa-check fa-stack-1x primary-color" aria-hidden="true"></i>
            </span>
            <span>
              Round The Clock Support
            </span>
          </li>
        </ul>
        <a href="#" class="btn btn-primary my-1 my-md-3 my-lg-5">Learn more</a>
      </div>
      
    </div>
  </section>
  <section id="services" class="my-5">
    <div class="container">
      <div class="text-center mb-5">  
        <h2 class="text-center">Frameworks & Tools</h2>
        <p class="lead mb-1 mb-md-3">Proin iaculis purus consequat cure</p>
      </div>

      <div class="row no-gutters">
        <div class="col-12 col-md-4 text-center">
          <div class="row no-gutters">
            <div class="col-3">
            </div>
            <div class="col-6">  
              <div class="icon-tool text-center mb-3">
                <i class="icon-react"></i>
              </div>
            </div>
            <div class="line col-3">
            </div>
          </div>
          <h3 class="h5 col-12">ReactJS</h3>
          <p class="col-12">
            Proin iaculis purus consequat sem cure digni. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
          </p>
        </div>
        <div class="col-12 col-md-4 text-center">
          <div class="row no-gutters">
            <div class="col-3 line">
            </div>
            <div class="col-6">  
              <div class="icon-tool text-center mb-3">
                <i class="icon-git"></i>
              </div>
            </div>
            <div class="col-3 line">
            </div>
          </div>
          <h3 class="h5 col-12">Git</h3>
          <p class="col-12">
            Proin iaculis purus consequat sem cure digni. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
          </p>
        </div>
        <div class="col-12 col-md-4 text-center">
          <div class="row no-gutters">
            <div class="col-3 line">
            </div>
            <div class="col-6">  
              <div class="icon-tool text-center mb-3">
                <i class="icon-sass"></i>
              </div>
            </div>
            <div class="col-3">
            </div>
          </div>
          <h3 class="h5 col-12">Sass</h3>
          <p class="col-12">
            Proin iaculis purus consequat sem cure digni. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
          </p>
        </div>
      </div>
    </div>
  </section>

</div>




